/*Colors and fonts of the texts*/

body{
	background-color:#968C83;}


h1{
	font-family:Calibri;
	color:#e6739f;
	letter-spacing:6px;
	font-size: 50px;}

h2{
	font-family: calibri;
	color:pink;
	letter-spacing: 6px;
	font-size: 35px;
	font-weight:bolder;}


h3{
	font-family: calibri; 
	color:#f7dad9;
	letter-spacing: 4px
	font-weight: lighter;}

p{font-family: arial}

a{
	text-decoration: none;
	color: purple}

a:hover{
	color: blue}


/*design of the container*/
.container {width: 700px;
			margin: 50px auto}
/*Adapt the website to different screen size*/
@media(max-width: 760px) 

  {.container{width: 600px;}}


  @media(max-width: 500px) 

  {.container{width: 400px;}}




.card-white {box-shadow: 0px 10px 30px black;
				background-color: white;
				padding: 3px 15px 30px rgba(0,0,0,0.1);
				border-radius: 4px;
				margin: 30px 3px;
				text-align : center; }
/*Design the image*/
.img-circle {
	border-radius: 50%;}

<style type= »text/css »>

img:hover {

-webkit-filter: grayscale(100%); 

}

</style>

/*Design the button*/
.btn-grey {background-color: grey;
			color: white;
			padding: 15px 20px;
			border-radius: 4px;}

.btn-grey:hover {background-color: black;
				color: white; }

/*Design the social medias list*/
.list-inline {list-style: none;
			padding-left: 0px}

.list-inline li { 
				display: inline;
				padding: 10px; }

.list-inline i{
				font-size: 50px;}

.list-inline i:hover {color: black;}

#introduction p {
				margin-bottom: 40px;}

